<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/javascripts/backbone-min.js"></script>
        <script type="text/javascript" src="/javascripts/client.js"></script>
        <title>express-todo</title>
    </head>
    <body>
        <h1>express_todo</h1>
        <h3>A simple TODO app written with Express, Parse, and Backbone</h3>
