<% include partials/header.ejs %>
    <script type="text/template" id="template">
        <b><%= note %></b></br>
    </script>

    <p>Welcome to <%= title %></p>
    <div id="container"></div>

<% include partials/footer.ejs %>
