<% include partials/header.ejs %>

<form action='/items/post' method='post'>
    <input type='note' name='note' placeholder='Note'>
    <input type='checkbox' name='checked'><br />
    <input type='submit' name='submit' value='submit'>
</form>

<% include partials/footer.ejs %>
